#bill {
   &__amount-input {
      background-image: url("../images/icon-dollar.svg");
   }

   &__people-input {
      background-image: url("../images/icon-person.svg");
   }
}

.bill {
   &__form {
      display: grid;
      gap: var(--spacing-lg-1);
   }
}
